name: Matrix Demo
on: push
jobs:
  build:
    statergy:
      matrix:
        node-version: 24
        operating-system: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.operating-system }}
  steps:
    - name: Get Code
      uses: actions/checkout@v6
    - name: Install NodeJS
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm ci
    - name: Build project
      run: npm run build